src/node-red-source
[{"id":"8f86a11c.08a4","type":"tcp in","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"buffer","newline":"~E","topic":"","name":"","base64":false,"x":280.8833312988281,"y":123.48332977294922,"z":"6897ddc3.3e6d3c","wires":[["e09b2963.7f974"]]},{"id":"e09b2963.7f974","type":"function","name":"Read TinyOS Serial Message","func":"//MODIFY HERE WITH LENGTH OF PAYLOAD IN BYTES\nvar PAYLOAD_BYTES = 5;\nvar tinyos_payload;\nvar ready = false;\n\n//initialize context if not ready\ncontext.bytes_received = context.bytes_received || 0;\ncontext.bytes_array = context.bytes_array || [];\n\n//update count of bytes received\nvar bytes_received = msg.payload.length;\ncontext.bytes_received+=bytes_received;\n\n//copy received bytes in context\nfor(var i=0;i<msg.payload.length;i++){\n\tcontext.bytes_array.push(msg.payload[i]);\n}\n\n//create TinyOS payload if correct number of bytes is received\nif(context.bytes_received >= 13 + PAYLOAD_BYTES){\n\t\n\tmsg.payload = context.bytes_array;\n\ttinyos_payload = context.bytes_array.slice(10,-3);\n\n\tcontext.bytes_received = 0;\n\tcontext.bytes_array = [];\n\n\tready = true;\n}\n\nif(ready){\n\t//GET THE PAYLOAD (HEX FORMAT)\n\tvar byte_payload = new Buffer(tinyos_payload.length);\n\tfor(var i=0;i<tinyos_payload.length;i++){\n\t\tbyte_payload[i] = tinyos_payload[i];\n\t}\n\t\n\t//GET THE SINGLE FIELDS\n\tif(byte_payload.readUInt8(0,1) == 2){\n\t\tmsg.topic=\"temperature\";\n\t\tmsg.payload = {};\n\t\tmsg.payload.id=byte_payload.readUInt16BE(1,3);\n\t\tmsg.payload.value=byte_payload.readUInt16BE(3,5);\n\t}\n\t\n\tif(byte_payload.readUInt8(0,1) == 3){\n\t\tmsg.topic=\"humidity\";\n\t\tmsg.payload = {};\t\t\n\t\tmsg.payload.id=byte_payload.readUInt16BE(1,3);\n\t\tmsg.payload.value=byte_payload.readUInt16BE(3,5);\n\t}\n\t\n\treturn msg;\t\n}\n\nelse{\n\treturn null;\n}\n","outputs":"1","x":283.8833541870117,"y":243.48330783843994,"z":"6897ddc3.3e6d3c","wires":[["caa2df46.188438"]]},{"id":"b93deb08.49df58","type":"file","name":"write temperature file","filename":"temperature","appendNewline":true,"overwriteFile":"false","x":703.8832855224609,"y":181.48332977294922,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"2e5b15c2.8c511a","type":"debug","name":"debug temperature","active":true,"console":"false","complete":"payload","x":675.8832855224609,"y":114.4833288192749,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"caa2df46.188438","type":"switch","name":"switch temp/hum","property":"topic","rules":[{"t":"eq","v":"temperature"},{"t":"eq","v":"humidity"}],"checkall":"false","outputs":2,"x":251.88330078125,"y":447.4833526611328,"z":"6897ddc3.3e6d3c","wires":[["b93deb08.49df58","de968e15.40202","2e5b15c2.8c511a","6d0501eb.195db8"],["fde5d3f1.6d5c08","82408acd.1a799","453d56ce.a4fd8","dda7f295.0f4788"]]},{"id":"fde5d3f1.6d5c08","type":"file","name":"write humidity file","filename":"humidity","appendNewline":true,"overwriteFile":"false","x":686.8832893371582,"y":665.4832925796509,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"82408acd.1a799","type":"debug","name":"debug humidity","active":true,"console":"false","complete":"payload","x":634.8832874298096,"y":723.4832925796509,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"3f20dfc3.55dc8","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"noderedproject@gmail.com","dname":"Email","x":951.8832883834839,"y":286.4833679199219,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"de968e15.40202","type":"function","name":"Temperature Warning","func":"context.previous_temp = context.previous_temp || msg.payload.value;\nvar temp_id = msg.payload.id;\nvar temp = msg.payload.value;\nvar upperThreshold = 26;\nvar lowerThreshold = 18;\nvar new_value = false;\n\n// Check if the new temperature is different from the previous\nif (context.previous_temp != temp){\n\tcontext.previous_temp = temp;\n\tnew_value=true;\n}\nif(new_value){\t\n\tif ( temp >= upperThreshold){\n\t\tmsg.topic=\"temperature warning, id: \" + String(temp_id);\n\t\tmsg.payload = \"It's too hot! Current temperature is \" + String(temp) + \"°C\";\n\t\treturn msg;\n\t}\n\telse if ( temp <= lowerThreshold){\n\t\tmsg.topic=\"temperature warning, id: \" + String(temp_id);\n\t\tmsg.payload = \"It's too cold! Current temperature is \" + String(temp) + \"°C\";\n\t\treturn msg;\n\t}\n\telse{\n\treturn null;\n\t}\n}\nelse{\n\treturn null;\n}","outputs":"1","x":775.8832893371582,"y":286.4833221435547,"z":"6897ddc3.3e6d3c","wires":[["3f20dfc3.55dc8"]]},{"id":"453d56ce.a4fd8","type":"function","name":"Humidity Warning","func":"context.previous_hum = context.previous_hum || msg.payload.value;\nvar hum_id = msg.payload.id;\nvar hum = msg.payload.value;\nvar upperThreshold = 52;\nvar lowerThreshold = 48;\nvar new_value = false;\n\n// Check if the new humidity is different from the previous\nif (context.previous_hum != hum){\n\tcontext.previous_hum = hum;\n\tnew_value=true;\n}\nif(new_value){\t\n\tif ( hum >= upperThreshold){\n\t\tmsg.topic=\"humidity warning, id: \" + String(hum_id);\n\t\tmsg.payload = \"It's too wet! Current humidity is \" + String(hum) + \"%\";\n\t\treturn msg;\n\t}\n\telse if ( hum <= lowerThreshold){\n\t\tmsg.topic=\"humidity warning, id: \" + String(hum_id);\n\t\tmsg.payload = \"It's too dry! Current humidity is \" + String(hum) + \"%\";\n\t\treturn msg;\n\t}\n\telse{\n\treturn null;\n\t}\n}\nelse{\n\treturn null;\n}","outputs":1,"x":781.8833389282227,"y":547.483341217041,"z":"6897ddc3.3e6d3c","wires":[["fd6f0a2e.bf43f"]]},{"id":"fd6f0a2e.bf43f","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"noderedproject@gmail.com","dname":"Email","x":949.8833351135254,"y":547.483341217041,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"27b7afbb.31c718","type":"function","name":"Plot Temperature","func":"context.array_id = context.array_id || [];\ncontext.array_temp = context.array_temp || [];\ncontext.array_id.push(msg.payload.id);\ncontext.array_temp.push(msg.payload.value);\nmsg.payload = [];\n\nfor(var i=0; i<context.array_id.length; i++){\n\t\tmsg.payload[i] = {\n\t\t\t\t\t\t\tid: context.array_id[i], \n\t\t\t\t\t\t\ttemp: context.array_temp[i],\n\t\t\t\t\t\t};\n}\n\nreturn msg;\n\n","outputs":1,"x":1043.8835182189941,"y":401.4833106994629,"z":"6897ddc3.3e6d3c","wires":[["f971e853.d6a638"]]},{"id":"f971e853.d6a638","type":"chart response","x":1226.8829708099365,"y":401.4833106994629,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"8125fa6.a1dac88","type":"chart request","charttype":"LineChart","path":"/temperature","refresh":"1","formatx":"","formaty":"","attribs":[{"name":"id","type":"number"},{"name":"temp","type":"number"}],"x":542.8832244873047,"y":403.4833221435547,"z":"6897ddc3.3e6d3c","wires":[["3d5ed274.87e28e"]]},{"id":"dda7f295.0f4788","type":"file","name":"write hum_plot support file","filename":"hum_plot","appendNewline":true,"overwriteFile":"true","x":750.8832893371582,"y":608.4832925796509,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"6d0501eb.195db8","type":"file","name":"write temp_plot support file","filename":"temp_plot","appendNewline":true,"overwriteFile":"true","x":751.8832893371582,"y":235.48330783843994,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"6ad36d6f.60f4d4","type":"json","name":"json parser","x":873.8833351135254,"y":401.48337173461914,"z":"6897ddc3.3e6d3c","wires":[["27b7afbb.31c718"]]},{"id":"3d5ed274.87e28e","type":"file in","name":"read temp_plot","filename":"temp_plot","format":"utf8","x":710.8832855224609,"y":402.48335337638855,"z":"6897ddc3.3e6d3c","wires":[["6ad36d6f.60f4d4"]]},{"id":"56ab2a13.c1039c","type":"file in","name":"read hum_plot","filename":"hum_plot","format":"utf8","x":708.8832893371582,"y":454.4833221435547,"z":"6897ddc3.3e6d3c","wires":[["7a5fd02.c3c003"]]},{"id":"4974932e.a19bcc","type":"chart response","x":1227.8832702636719,"y":454.4833106994629,"z":"6897ddc3.3e6d3c","wires":[]},{"id":"ec604429.b95df","type":"chart request","charttype":"LineChart","path":"/humidity","refresh":"1","formatx":"","formaty":"","attribs":[{"name":"id","type":"number"},{"name":"hum","type":"number"}],"x":541.8832855224609,"y":454.4833221435547,"z":"6897ddc3.3e6d3c","wires":[["56ab2a13.c1039c"]]},{"id":"dedf2ef2.2842d","type":"function","name":"Plot Humidity","func":"context.array_id = context.array_id || [];\ncontext.array_hum = context.array_hum || [];\ncontext.array_id.push(msg.payload.id);\ncontext.array_hum.push(msg.payload.value);\nmsg.payload = [];\n\nfor(var i=0; i<context.array_id.length; i++){\n\t\tmsg.payload[i] = {\n\t\t\t\t\t\t\tid: context.array_id[i], \n\t\t\t\t\t\t\thum: context.array_hum[i],\n\t\t\t\t\t\t};\n}\n\nreturn msg;\n","outputs":1,"x":1035.8832778930664,"y":454.4833106994629,"z":"6897ddc3.3e6d3c","wires":[["4974932e.a19bcc"]]},{"id":"7a5fd02.c3c003","type":"json","name":"json parser","x":873.1333084106445,"y":454.48334312438965,"z":"6897ddc3.3e6d3c","wires":[["dedf2ef2.2842d"]]}]